<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Professional Summary</h2>
<div class="summary">
   <ul>
        <li>profound experience in information technology involved in full system development life cycle of various software products</li>
       <li>Extensive experience in development of cross browser compatible web pages using HTML/HTML5, Java Script, jQuery, AngualarJs, JSO, CSS/CSS3 and MVC Framework.</li>
      <li>Experience on working with CSS Background, Layouts,positioning, text,border, margin, padding, table, classes, Pseudo elements and CSS behaviors in CSS.</li> 
      <li>Strong ability to work as an individual and can actively collaborate with the technical community and Passionate to learn new technologies, take new challenges and excel in career.</li>
       <li>Strong problem-solving, organizing, communication and planning skills, with ability to work in team environment.</li>
       <li>Experience in Agile practices and used Test Driven Development(TDD) techniques to provide reliable, working software.</li>
       <li>Good knowledge of Software Development Life Cycle (SDLC) and exposure to various SDLC methodologies like Agile, Waterfall.</li>
   </ul> 
</div><!--//summary-->
</section><!--//section-->
