<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Professional Summary</h2>
<div class="summary">
   <ul>
        <li>profound experience in information technology involved in full system development life cycle of various software products</li>
       <li>Extensive experience in development of cross browser compatible web pages using HTML/HTML5, Java Script, jQuery, AngualarJs, JSO, CSS/CSS3 and MVC Framework.</li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
   </ul> 
</div><!--//summary-->
</section><!--//section-->
