 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Masters in Computer Science and Information Systems</h4>
    <h5 class="meta">Wilmington University</h5>
    <div class="time">2014 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bachelors in Electrical and Electronics Engineering</h4>
    <h5 class="meta"> JNTUH College of Engineering</h5>
    <div class="time">2008 - 2012</div>
</div><!--//item-->
 <div class = "item">
  <h4 class="degree"> Web Development online</h4>
  <h5 class ="meta"> Freecodecamp:Udacity:Coursera</h5>
</div><!--//item-->
</div><!--//education-container-->
