<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">MAY 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">YSK Technologies</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Developed web pages and forms with functionalities like login, register, forgot password, Email, Filters using JavaScript and HTML5.</li>
                        <li>Created HTML navigation menu that is role based menu items changes dynamically, derived from the database in the form of XML.</li>
                        <li>Designed, developed and updated User Interface Web Forms using CSS, and JavaScript.</li>
                        <li>Implemented faster mobile-friendly applications using Twitter Bootstrap framework.</li>
                        <li>Used jQuery plug-ins to implement features as a light box, sliders and other intuitive features.</li>
                        <li>Worked closely with Photoshop designers to implement mock-ups and the layouts of the application.</li>
                      </ul>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">AUG 2012 - JUNE 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Vartechs Info Pvt.ltd,</div>
                    </div><!--//meta-->
                    <div class="details">
                         <ul>
                        <li>Developed UI wireframes and HTML web components using Bootstrap framework</li>
                        <li>Implemented front end logic that defines behavior of visual elements using Javascript</li>
                        <li>Maintained existing UI Applications and upgraded them using CSS, jQuery, AJAX, JavaScript, JSON </li>
                        <li>Worked on debugging JavaScript and HTML code with Firefox Firebug and Google chrome JavaScript Debugger</li>
                        <li>Involved in resolving reporting issues and design issues throughout the reporting life cycle. </li>
                        <li>Participated in design decisions like choosing colors, typography, fonts and layouts for website. </li>
                        
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
