<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Apart from the above experience I have been working on few side projects, Which helped me to get better at web technologies. I have also learned to manage teams while working on these projects.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://heerasartcenter.com/"> Heera's Art Center</a></span> - <span class="project-tagline">A responsive website designed to help startups promote, market and sell their products.</span>                    
                  <ul>
                    <li>Developed responsive website using HTML, CSS, JavaScript and assisted client in managing the files and Images.</li>
                    <li>Gathered and documented client’s requirements and Managed a team of 5 members</li>
                    <li>Suggested and provided tools for managing database server and assisted in securing users data</li>
                  </ul>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://medwinpublishers.com/" target="_blank">Medwin Publishers</a></span> - 
                    <span class="project-tagline">A responsive website designed to help Medwin Publishers market their services. </span>
                    <ul>
                      <li>Developed wireframes and UI components</li>
                      <li>Developed HTML and CSS for static site and JavaScript for dynamic web functionality</li>
                      <li>Participated in design decisions such as typography, colors and backgrounds</li>
                    </ul>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Academic Project</span> - <span class="project-tagline">Vehicle fleet management system is used to make updates about daily activities of vehicles and employees through
Web and mobile application. Details such as fuel, mileage, route of travel, tools used, employee details need to update regularly through web application. Project aim is to build an effective physical database for such applications.
</span>
                  <ul>
                    <li>Worked on Gathering requirements for data analysis and used Active research methods.</li>
                    <li>Defined various entities and attributes and created effective logical and physical data models.</li>
                    <li>Generated various DDL Scripts to create physical tables in data base. </li>
                    <li>Worked on configuring linux machines to set up a database</li>
                  </ul>
                </div><!--//item-->
                
            </section><!--//section-->
